<title><%= title %> - Whatever our name is</title>
<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
<script src="https://media.twiliocdn.com/sdk/js/chat/v3.3/twilio-chat.min.js"></script>
<script src="//media.twiliocdn.com/sdk/js/video/releases/2.0.0/twilio-video.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"/>
<link rel="stylesheet" href="css/main-styles.css">
<link rel="stylesheet" href="css/main-layout.css">