<div class="sidebar">
    <div class="server-area">
        <img class="server-img" src="img/example.png" alt="Server Icon">
        <div class="server-items">
            <div class="guild-folder">
                <div class="folder-div">
                    <img class="folder-img" src="img/folder.png" alt="Server Folder">
                </div>
                <div class="folder-items">
                    <div class="guild-container">
                        <img class="guild-img" src="img/example.png">
                        <p>A Guild</p>
                    </div>
                    <div class="guild-container">
                        <img class="guild-img" src="img/example.png">
                        <p>A Guild</p>
                    </div>
                    <div class="guild-container">
                        <img class="guild-img" src="img/example.png">
                        <p>A Guild</p>
                    </div>
                    <div class="guild-container">
                        <img class="guild-img" src="img/example.png">
                        <p>A Guild</p>
                    </div>
                </div>
            </div>
            <div class="guild-container">
                <img class="guild-img" src="img/example.png">
                <span>A Guild</span>
            </div>
        </div>
    </div>
    <div class="server-area">
        <img class="server-img" src="img/example.png" alt="Server Icon">
        <div class="server-items">
            <div class="guild-container">
                <img class="guild-img" src="img/example.png">
                <span>A Guild</span>
            </div>
        </div>
    </div>
</div>